/* Reset Configuration */

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html{
	scroll-behavior: smooth;
	overflow-x: hidden;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}

button{
	cursor: pointer;
}

img{
	max-width: 100%;
	height: auto;
}

.container-enable{
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	margin-bottom: 80px;
}

.container-enable-blog{
	max-width: 720px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	margin-bottom: 80px;
}


/* components => Buttons */
.button-primary{
	padding: 16px 24px;
	background: var(--cl-brand);
	border-radius: 8px;
	border: none;
	transition: all 120ms ease-in-out;
}

.button-primary:hover{
	background: var(--cl-button-hover);
	-webkit-box-shadow: 0px 48px 141px -68px rgba(151,169,189,0.87);
	-moz-box-shadow: 0px 48px 141px -68px rgba(151,169,189,0.87);
	box-shadow: 0px 48px 141px -68px rgba(151,169,189,0.87);
}

.button-primary a{
	font-family: 'Roobert-Medium', sans-serif;
	font-size: 18px;
	color: var(--cl-white);
	letter-spacing: 0.5px;
}

.button-secondary{
	padding: 16px 24px;
	border-radius: 8px;
	border: 2.5px solid var(--cl-brand);
	transition: all 320ms ease-in-out;
	background: #fff;
}

a .button-secondary{
	font-family: 'Roobert-Medium', sans-serif;
	font-size: 18px;
	color: var(--cl-brand);
	font-weight: 600;
}

a .button-secondary:hover{
	background-color: var(--cl-brand);
	color: var(--cl-white);
}

.button-secondary-white{
	padding: 16px 24px;
	border-radius: 8px;
	border: 2.5px solid var(--cl-brand);
	transition: all 320ms ease-in-out;
	background: #fff;
}

a .button-secondary-white{
	font-family: 'Roobert-Medium', sans-serif;
	font-size: 18px;
	color: var(--cl-brand);
	font-weight: 600;
}

a .button-secondary-white:hover{
	background-color: var(--cl-brand);
	color: var(--cl-white);
	border: 2.5px solid var(--cl-white);
}

.button-third{
	padding: 8px 16px;
	border-radius: 8px;
	background-color: #fff;
	border: 2.5px solid var(--cl-title);
}

.button-third a{
	font-family: 'Roobert-Medium', sans-serif;
	font-size: 18px;
	color: var(--cl-title);
	font-weight: 600;
}

.button-nav{
	padding: 8px 16px;
	border-radius: 8px;
	background-color: white;
	border: 2.5px solid var(--cl-brand);
	transition: all 120ms ease-in-out;
}

.button-nav:hover{
	background-color: var(--cl-brand);
	color: var(--cl-white);
}


a .button-nav{
	font-family: 'Roobert-Medium', sans-serif;
	font-size: 18px;
	color: var(--cl-brand);
	font-weight: 600;
}

.gradient-text{
	color: var(--cl-brand);
}

/* RESPONSIVE TEMPLATE */
/* RESPONSIVE => Laptop Small */
@media screen and (max-width: 1024px) {
}

/* RESPONSIVE => Tablet */
@media screen and (max-width: 768px) {
}

/* RESPONSIVE => Handphone */
@media screen and (max-width: 425px) {
}
