

.blog-header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-header-content > *{
    margin: 0.4em;
}

.blog-header-content h3{
    text-align: center;
    font-size: 56px;
    line-height: 68px;
}

.blog-header-img img{
    width: 100%;
    margin-top: 2em;
}

.blog-content-1{
    margin-top: 2em;
}

.blog-content-1 h3{
    font-size: 40px;
    line-height: 1.4em;
}

.blog-content-1 h4{
    font-size: 32px;
    font-weight: 500;
    line-height: 1.75em;
}

.blog-content-1 p{
    font-size: 21px;
    font-weight: 400;
    line-height: 1.8em;
    margin: 1.5em 0;
}

.blog-content-1 ul{
    list-style: outside;
    margin-left: 1.5em;
}

.blog-content-1 ul li{
    font-size: 21px;
    font-weight: 400;
    line-height: 1.75em;
    margin: 1.5em 0;
    color: var(--cl-title);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1.5em 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 1em;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}