
body{
    background: #F3F4F6;
}

.users-database .header{
    margin-bottom: 2em;
}

.users-database .header h4{
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.users-database .header p{
    font-size: 1em;
    font-weight: 400;
}

.users-database .table{
    overflow-x: auto;
    border-radius: 1em;
    border: 2px solid #D9DADC;
}

.users-database .table table{
    width: 100%;
    border-collapse: collapse;
    
    border-radius: 1em;
}

.users-database .table table thead{
    background-color: #F9FAFB;
    border-radius: 1em;
    color: #111827;
}

.users-database .table table thead th{
    padding: 2em;
    font-size: 1em;
    font-weight: 700;
    text-align: left;
    border-bottom: 2px solid #D9DADC;
}

.users-database .table table tbody tr{
    border-bottom: 1px solid #D9DADC;
    background-color: #FFF;
}

.users-database .table table tbody tr td{
    padding: 2em;
    font-size: 1em;
    text-align: left;
}

.btn-normal a{
    text-decoration: none;
    color: #000;
    font-size: 1em;
    font-weight: 500;
}

.btn-normal a:hover{
    color: #000;
}

.btn-normal{
    background-color: #FFF;
    border: 1.5px solid #D8DBDC;
    outline: none;
    cursor: pointer;
    padding: 0.6em 2em;
    border-radius: 0.4em;
}


.btn-delete{
    background-color: #DF4939;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.6em 2em;
    border-radius: 0.4em;
    margin-right: 1em;
}

.btn-delete a{
    color: #F9FAFB;
}

.action-btn{
    display: flex;
    align-items: center;
    gap: 1em;
}

.table-full-name{
    color: #000;
    font-weight: bold;
}

/* Customize the action button */

/* Responsive Media */

