body {
    background: #FCFCFC;
}

.header-content h4 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.4em;
    color: #1d354f;
}

p {
    font-size: 1rem;
    font-weight: 400;
    color: #5c6a78;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.btn-add {
    background-color: #6A55EA;
    border: 1.5px solid #D8DBDC;
    outline: none;
    cursor: pointer;
    padding: 1em 3em;
    border-radius: 0.4em;

    color: #FFFFFF;
    font-weight: 500;
}

.btn-add:hover {
    background-color: #5C4CE3;
}

.user-action {
    display: flex;
    align-items: center;
    gap: 2em;
}

.btn-logout {
    background-color: #F8F6FF;
    border-radius: 10px;
    padding: 1em 2em;
    border: 1px solid #E5E5E5;
    transition: 0.3s;
    color: #EC6D62;
    text-align: center;
    font-family: "Roobert-Medium", sans-serif;
    font-size: 0.9em;
    transition: all 200ms ease-in-out;
}

/* Responsive */

@media screen and (max-width: 768px) {
    .users-database {
        padding: 0 1em;
    }

    .header {
        flex-direction: column;
        gap: 1em;
    }

    .header-content {
        text-align: center;
    }

    .header-action {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .btn-add {
        width: 100%;
    }

    .table {
        overflow-x: scroll;
    }
}

.new-header{
    position: sticky;
    top: 0;
    padding: 1em 8em;
    border-bottom: 2px solid rgba(228, 231, 235, 0.431);
    z-index: 24;
}


.container-n{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.n-link, .n-btn-login, .n-btn-signup{
    font-size: 18px;
    color: #5c6a78;
}

.n-logo{
    font-size: 21px;
    color: #111826;
}

.n-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-grow: 1;
}

.n-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
}

.n-item{
    position: relative;
}

.n-action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
}

.n-btn-login{
    color: #5c6a78;
    font-family: 'Roobert-Medium', sans-serif;
}

.n-btn-signup{
    color: #FFFFFF;
    background-color: #6A55EA;
    padding: 0.6em 1em;
    border-radius: 0.8em;
    font-family: 'Roobert-Medium', sans-serif;
    font-weight: 800;
    letter-spacing: 0.2px;
}

.button-primary{
    border-radius: 1em;
    letter-spacing: 0.2px;
}

.button-secondary{
    border-radius: 1em;
    letter-spacing: 0.2px;   
}

.button-secondary-white{
    border-radius: 1em;
    letter-spacing: 0.2px;   
}

/* Menu Toggle */
.open-menu {
    display: none;
}

.close-menu{
    display: none;
    position: absolute;
    top: 4%;
    right: 4%;
}

@media only screen and (max-width: 1280px) {

    .new-header{
        display: flex;
        justify-content: space-between;
        align-items: center ;
        padding: 1em 2em;
    }
    nav{
        margin: 0;
    }

    .open-menu{
        display: block;
    }

    .n-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #111826;
        z-index: 1;
    }

    .n-list{
        display: flex;
        flex-direction: column;
    }

    .n-link, .n-btn-login, .n-btn-signup{
        font-size: 18px;
        color: #fff;
    }

    .n-action{
        position: absolute;
        bottom: 4%;
        right: 4%;
    }
    
    .n-bar.show {
        transform: translateX(0);
    }

    .close-menu.show {
        display: block;
    }

    .n-list li {
        display: block;
        margin-bottom: 1.6em;
        color: #fff;
    }

    .mobile-toggle {
        display: block;
    }
}

.n-logo img{
    font-size: 2em;
}

.sticky-nav {
    position: sticky;
    top: 0;
    background-color: #ffffff; /* Add a background color for the sticky navigation */
    z-index: 100; /* Adjust the z-index as needed */
}

