body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.new-header{
    margin: 2em 4em;
}


.container-n{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.n-link, .n-btn-login, .n-btn-signup{
    font-size: 18   px;
    color: #111826;
    font-weight: 700;
}

.n-logo{
    font-size: 21px;
    font-weight: 700;
    color: #111826;
}

.n-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    transition: transform 0.5s ease-in-out;
}

.n-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
}

.n-action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
}

.n-btn-login{
    color: #111826;
    font-weight: 700;
}

.n-btn-signup{
    color: #fff;
    font-weight: 700;
    background-color: #111826;
    padding: 0.6em 1em;
    border-radius: 0.5em;
}

/* Menu Toggle */
.open-menu {
    display: none;
}

.close-menu{
    display: none;
    position: absolute;
    top: 4%;
    right: 4%;
}

@media only screen and (max-width: 1080px) {

    .new-header{
        display: flex;
        justify-content: space-between;
        align-items: center ;
    }
    nav{
        margin: 0;
    }

    .open-menu{
        display: block;
    }

    .n-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #111826;
        z-index: 1;
    }

    .n-list{
        display: flex;
        flex-direction: column;
    }

    .n-link, .n-btn-login, .n-btn-signup{
        font-size: 18px;
        color: #fff;
        font-weight: 700;
    }

    .n-action{
        position: absolute;
        bottom: 4%;
        right: 4%;
    }
    
    .n-bar.show {
        transform: translateX(0);
    }

    .close-menu.show {
        display: block;
    }

    .n-list li {
        display: block;
        margin-bottom: 1.6em;
        color: #fff;
    }

    .mobile-toggle {
        display: block;
    }
}